@using RhythmicGymnasticsPortal.Web.Area.Private.Models.News

@model RhythmicGymnasticsPortal.Web.Models.NewsModels.NewsDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="text-muted">@Html.DisplayFor(m => m.Title, "Title")</h1>
                    <p>
                        @Html.DisplayFor(m => m.Content, "Content")
                    </p>
                    <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;@Model.DateCreated  <span class="badge">by: @Model.Author </span></p>
                    @*<span class="badge" data-id="@Model.Id" data-action="up">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </span>
                    <div class="row" data-id="@Model.Id" data-action="likesCount">@Model.LikesCount</div>
                    <span class="badge" data-id="@Model.Id" data-action="down">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    </span>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="row" data-id="@Model.Id" data-action="up"><span class="glyphicon glyphicon glyphicon-thumbs-up"></span></div>
                    }
                    <div class="row" data-id="@Model.Id" data-action="likesCount">@Model.LikesCount</div>
                </div>
            </div>
            <br />
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("~/Areas/Private/Views/Comment/_AddCommentPartial.cshtml", new CommentsInputModel(Model.Id))
                }
            </div>
            <div class="row">
                @{Html.RenderAction("_NewsCommentsPartial");}
            </div>
        </div>
    </div>
</div>
<style>
    div[data-action="up"], div[data-action="down"] {
        cursor: pointer;
    }
</style>
@section scripts{
    <script>
        $("div[data-action='up'").click(function () {
            var id = $(this).attr("data-id");
            likeClick(id, 1);
        });
        //$("div[data-action='down'").click(function () {
        //    var id = $(this).attr("data-id");
        //    likeClick(id, -1);
        //});

        function likeClick(id, likeType) {
            $.post("/NewsLike/Like", { newsId: id, likeType: likeType },
                function (data) {
                    var likesCount = data.Count;
                    $("div[data-action='likesCount'][data-id='" + id + "']").html(likesCount)
                });
        }
    </script>
}