@model RhythmicGymnasticsPortal.Web.Models.NewsModels.NewsDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="text-muted">@Html.DisplayFor(m => m.Title, "Title")</h1>
                    <p>
                        @Html.DisplayFor(m => m.Content, "Content");
                    </p>
                    <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;@Model.DateCreated  <span class="badge">by: @Model.Author </span></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-8">
                    <h3>Comments</h3>
                    @foreach (var comment in Model.Comments)
                    {
                        <table>
                            <tr>
                                <td style="vertical-align:top"><img class="media-object" src="@comment.Avatar" width="50"></td>
                                <td>
                                    <div class="well">@comment.Content</div>
                                    <span class="glyphicon glyphicon-calendar top"></span>&nbsp;@comment.DateCreated
                                    <span class="badge top">by: @comment.Author </span>
                                </td>
                            </tr>
                        </table>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/backbuttonlogic")
}
